<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail-list</title>
</head>

<body>
    <h1>Listing Details!!</h1>
    <ul>
        <li>
            <%=detaillist.title%>
        </li>
        <li>
            <%=detaillist.description%>
        </li>
        <li>&#8377;
            <%=detaillist.price.toLocaleString("en-IN")%>
        </li>
        <li>
            <%=detaillist.location%>
        </li>
        <li>
            <%=detaillist.country%>
        </li>
    </ul>
</body>

</html>